<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="OBA Catalogus" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="/scripts/main.js" type="module" defer></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- font-weight 300:light, 400:regular, 500:bold -->
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" href="/css/style.css" />
<title>Laagdrempelig Zoeken</title>
