<nav>
    <div class="logo-div">
        <img
            class="logo"
            src="/images/logos/logo.svg"
            alt="oba catalogus logo"
        />
    </div>
    <div>
        <img
            src="https://placehold.co/59x59"
            alt="virtual assistent"
            class="virtual-assistant"
        />
    </div>
    <ul>
        <li>
            <a href="/"
                ><img
                    src="/images/icons/chat-icon.svg"
                    alt="heart icon"
                />Chat</a
            >
        </li>
        <li>
            <a href="#"
                ><img
                    src="/images/icons/heart.svg"
                    alt="heart icon"
                />Favorieten</a
            >
        </li>
        <li>
            <a href="#"
                ><img src="/images/icons/question.svg" alt="heart icon" />Praat
                met een <br />medewerker</a
            >
        </li>
    </ul>
</nav>
