<nav>
    <div class="logo-div">
        <img
            class="logo"
            src="/images/logos/logo.svg"
            alt="oba catalogus logo"
        />
    </div>
    <ul>
        <li>
            <a href="#"
                ><img src="/images/icons/heart.svg" alt="heart icon" />Chat</a
            >
        </li>
        <li>
            <a href="#"
                ><img
                    src="/images/icons/heart.svg"
                    alt="heart icon"
                />Favorieten</a
            >
        </li>
        <li>
            <a href="#"
                ><img src="/images/icons/question.svg" alt="heart icon" />Praat
                met een medewerker</a
            >
        </li>
    </ul>
</nav>
