#results-container {
    display: flex;
    flex-direction: column;
    position: fixed;

    top: 1em;
    margin-left: 2em;

    z-index: 999;
    gap: 0.5em;
    left: -1.2em;

    #results-message {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        border-radius: 3em;
        right: -10px;
        padding: 5px;
        min-width: 70vw;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .message-text {
            color: #3c389e;
            font-size: 0.8rem;
            text-align: center;
        }

        .message-text2 {
            color: #3c389e;
            font-size: 0.8rem;
            text-align: center;
        }

        .message-texts {
            color: #3c389e;
            font-size: 0.8rem;
            text-align: center;
        }
    }

    .image-container {
        display: none;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0.3em;
        position: relative;

        button {
            border: none;
            border-radius: 1.5em;

            padding: 5px 20px;
            font-size: 14px;
            border: none;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;

            &:hover {
                background-color: var(--button-hover-bg);
                color: var(--button-hover-text);
            }
        }

        #noButton {
            background: white;

            &:hover {
                background-color: var(--button-hover-bg);
                color: var(--button-hover-text);
            }
        }

        #yesButton {
            background-color: var(--primary-button-bg);
            color: var(--primary-button-text);
            margin-left: auto;

            &:hover {
                background-color: var(--button-hover-bg);
                color: var(--button-hover-text);
            }
        }
    }
}

@media (min-width: 44em) {
    #results-container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-end;
        // position: fixed;
        // left: 50em;
        // top: 5em;
        // min-height: 40vh;

        #results-message {
            border-radius: 0.3em;
            height: 80px;
            margin-bottom: 1em;
            // min-width: 30%;
            width: fit-content;
            min-width: fit-content;
            position: fixed;
            right: 20px;
            bottom: 280px;
            max-width: 200px;

            .message-text {
                font-size: 1rem;
                max-width: 200px;
            }

            .message-text2 {
                font-size: 1rem;
                max-width: 200px;
            }

            .message-texts {
                font-size: 1rem;
                max-width: 200px;
            }
        }

        .image-container {
            display: flex;
            justify-content: flex-end;
            position: fixed;
            bottom: 54px;
            right: 5px;

            .digital-assistant {
                width: 250px;
                max-width: 100%;
                height: auto;
            }
        }

        .button-container {
            display: flex;
            position: fixed;
            // justify-content: space-around;
            justify-content: center;
            width: 100%;
            padding-right: 60px;
            bottom: 40px;
            right: 5px;
        }
    }
}
