#results-container {
    display: flex;
    flex-direction: column;
    position: fixed;

    top: 1em;
    margin-left: 2em;

    z-index: 999;
    gap: .5em;
    left: -1.2em;


    #results-message {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        border-radius: 3em;
        right: -10px;
        padding: 5px;
        min-width: 70vw;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


        .message-text {
            color: #3C389E;
            font-size: .8rem;
            text-align: center;
        }

        .message-text2 {
            color: #3C389E;
            font-size: .8rem;
            text-align: center;
        }

        .message-texts {
            color: #3C389E;
            font-size: .8rem;
            text-align: center;
        }

    }

    .image-container {
        display: none;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: .3em;
        position: relative;




        button {
            border: none;
            border-radius: 1.5em;

            padding: 5px 20px;
            font-size: 14px;
            border: none;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        }

        #yesButton {
            background-color: #3C389E;
            color: white;
            margin-left: auto;
        }


    }

}

@media (min-width:44em) {

    #results-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: fixed;
        left: 50em;
        top:5em;
        min-height: 40vh;



        #results-message {
            border-radius: .3em;
            height: 80px;
            margin-bottom: 1em;
            min-width: 30%;

            .message-text {
                font-size: 1rem;
            }

            .message-text2 {
                font-size: 1rem;
            }

            .message-texts {
                font-size: 1rem;
            }
        }

        .image-container {
            display: flex;
            justify-content: flex-end;
        

            .digital-assistant {
                width: 250px;
                max-width: 100%;
                height: auto;
            }
        }

        .button-container {
            display: flex;
            // justify-content: space-around;
            justify-content: center;
            width: 100%;
    
        }
    }





}