@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 12em;
  opacity: 0;
}
.arrow-container .double-arrow {
  width: 0;
  height: 0;
  position: relative;
}
.arrow-container .double-arrow::before, .arrow-container .double-arrow::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #3C389E;
  position: absolute;
  left: 0;
  animation: arrowAnimation 2s infinite;
}
.arrow-container .double-arrow::before {
  opacity: 0.3;
}
.arrow-container .double-arrow::after {
  top: 20px;
  animation-delay: 0.5s;
  /* Delay the animation for the second arrow */
}
.arrow-container .double-arrow.fade-out {
  animation: fadeOutAnimation 1s forwards;
  animation-delay: 2s;
  /* Delay the fade-out animation */
}

@media (min-width: 44em) and (min-width: 44em) {
  #detail-arrow-container {
    position: relative;
    opacity: 0;
  }
  #detail-arrow-container #arrows {
    width: 0;
    height: 0;
    position: relative;
  }
  #detail-arrow-container #arrows::before, #detail-arrow-container #arrows::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #3C389E;
    position: absolute;
    left: 0;

    -webkit-animation: arrowAnimation 2s infinite;
    animation: arrowAnimation 2s infinite;
  }
  #detail-arrow-container #arrows::before {
    opacity: .3;

  }
  #detail-arrow-container #arrows::after {
    top: 20px;

    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  @-webkit-keyframes arrowAnimationDetails {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes arrowAnimationDetails {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .detail-arrow-container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    -webkit-animation: arrowAnimationDetails 4s;
            animation: arrowAnimationDetails 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
  }
  .detail-arrow-container1 .arrow-talk-with-a-worker {
    background-color: green;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    z-index: 10;
    right: 9em;
    top: 2.5em;
  }
  .detail-arrow-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    -webkit-animation: arrowAnimationDetails 2s;
            animation: arrowAnimationDetails 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .detail-arrow-container2 .arrow-favorites {
    background-color: green;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    z-index: 10;
    right: 24em;
    top: 2.5em;
  }
  .detail-arrow-container3 {
    position: absolute;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: 1.2em;
    left: -6em;
    -webkit-animation: arrowAnimationDetails 2s;
            animation: arrowAnimationDetails 2s;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .detail-arrow-container4 {
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 6em;
    -webkit-animation: arrowAnimationDetails 2s;
            animation: arrowAnimationDetails 2s;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

  }
}/*# sourceMappingURL=animation.css.map */