//arrow animation

@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12em;
   opacity: 0;

    .double-arrow {
        width: 0;
        height: 0;
        position: relative;


        &::before,
        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid #3C389E;
            position: absolute;
            left: 0;
            animation: arrowAnimation 2s infinite;
        }

        &::before {
            opacity: .3;

        }

        &::after {
            top: 20px;
            animation-delay: 0.5s;
            /* Delay the animation for the second arrow */


        }

        &.fade-out {
            animation: fadeOutAnimation 1s forwards;
            animation-delay: 2s;
            /* Delay the fade-out animation */

        }
    }

}


#robot-container {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
 
}