//arrow animation

@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12em;
    opacity: 0;

    .double-arrow {
        width: 0;
        height: 0;
        position: relative;


        &::before,
        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid #3C389E;
            position: absolute;
            left: 0;
            animation: arrowAnimation 2s infinite;
        }

        &::before {
            opacity: .3;

        }

        &::after {
            top: 20px;
            animation-delay: 0.5s;
            /* Delay the animation for the second arrow */


        }

        &.fade-out {
            animation: fadeOutAnimation 1s forwards;
            animation-delay: 2s;
            /* Delay the fade-out animation */

        }
    }

}


@media (min-width:44em) {
    @media (min-width: 44em) {

        #detail-arrow-container {
            position: relative;
            opacity: 0;

            #arrows {
                width: 0;
                height: 0;
                position: relative;


                &::before,
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 20px solid #3C389E;

                    position: absolute;
                    left: 0;
                    -webkit-animation: arrowAnimation 2s infinite;
                    animation: arrowAnimation 2s infinite;
                }

                &::before {
                    opacity: .3;
                }

                &::after {
                    top: 20px;
                    -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;

                }
            }
        }


        @keyframes arrowAnimationDetails {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 1;
            }

            80% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }




        .detail-arrow-container1 {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: absolute;
            animation: arrowAnimationDetails 4s;
            animation-fill-mode: forwards;
            animation-delay: 11s;


            .arrow-talk-with-a-worker {
                background-color: green;
                transform: rotate(-180deg);
                z-index: 10;
                right: 9em;
                top: 2.5em;


            }

        }


        .detail-arrow-container2 {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: absolute;
            animation: arrowAnimationDetails 2s;
            animation-fill-mode: forwards;
            animation-delay: 6s;


            .arrow-favorites {
                background-color: green;
                transform: rotate(-180deg);
                z-index: 10;
                right: 24em;
                top: 2.5em;

            }
        }

        .detail-arrow-container3 {
            position: absolute;
            transform: rotate(-90deg);
            top: 1.2em;
            left: -6em;
            animation: arrowAnimationDetails 2s;
            animation-delay: 4s;
            animation-fill-mode: forwards;


        }

        .detail-arrow-container4 {
            position: absolute;
            transform: rotate(90deg);
            left: 6em;
            animation: arrowAnimationDetails 2s;
            animation-delay: 10s;
            animation-fill-mode: forwards;
        }


    }
}