.chat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #161616;
    top: .3em;
    position: relative;
    height: 30px;
    font-size: .8rem;
    z-index: -5;




    #paragraph-container {
        display: flex;
        position: relative;
        /* Set the position to relative */
        top: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 50px;
        width: 80%;

    }


    .chat-paragraph {
        color: #3C389E;
        font-size: .8rem;
        font-weight: 500;
        padding: 1em;
        // opacity: 0;
        /* Set initial opacity to 0 */
        transition: opacity 0s ease-in-out;
        /* Add a transition effect for opacity */
    }

    .stick {
        width: 20px;
        position: absolute;
        height: 18px;
        background-color: white;
        right: 5em;

        /* Position stick on the far right */
        transform: rotate(55deg);

        top: .7em;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        z-index: -1;
    }


}




