// #paragraph-container {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;




//     &:after {
//         content: '';
//         position: absolute;
//         background-color: #ff6781;
//         top: 89%;
//         left: 35%;
//         width: 3px;
//         height: 7px;
//         transform: rotate(-45deg);
//     }


//     &:before {
//         content: '';
//         position: absolute;
//         background-color: #ff6781;
//         top: 89%;
//         left: 48%;
//         width: 3px;
//         height: 7px;
//         transform: rotate(45deg);
//     }
// }



.chat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #161616;
    top: .3em;
    position: relative;
    height: 30px;
    font-size: .8rem;
   
 


    #paragraph-container{
        display: flex;
        position: relative; /* Set the position to relative */
        top:2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 70px;
        width: 80%;
       
    }


    .chat-paragraph{
        color:#3C389E;
        font-size: .8rem;
        font-weight: 500;
        padding: 1em;
    }


    .stick {
        width: 20px;
        position: absolute;
        height: 18px;
        background-color: white;
        right: 7em;
        
        /* Position stick on the far right */
        transform: rotate(55deg);
        bottom: .8em;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        z-index: -1;
    }


   
}