.chat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #161616;
    top: .3em;
    position: relative;
    height: 30px;
    font-size: .8rem;
    position: relative;





    #paragraph-container {
        display: flex;
        position: absolute;
        /* Set the position to relative */

        top: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 50px;
        width: 80%;


    }


    .chat-paragraph {
        color: #3C389E;
        font-size: .8rem;
        font-weight: 500;
        padding: 1em;
        font-size: .8rem;
        transition: opacity 0s ease-in-out;
    

    }

    .stick {
        // width: 20px;
        // position: absolute;
        // height: 18px;


        // background-color: white;
        // right: 5em;

        // /* Position stick on the far right */
        // transform: rotate(55deg);

        // top: 1.5em;
        // color: white;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        // z-index: -1;

        display:none;
    }


}


@media (min-width:44em) {
    

    .chat-icon {
        z-index: 1;
        position: relative;



        #paragraph-container {
            border-radius: .3em;
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: left;
            right: 45em;
            transform: translateX(-50%) translateY(-480%);
            height: 80px;
            width: 18%;
        }

        .chat-paragraph {
            font-size: 1rem;
            padding: 1.3em;

        }

        .stick {
            right: 55em;
            height: 30px;
            transform: translateY(-305px) rotate(-65deg);
            border-radius: .3em;


        }



    }
}