.detail-pagina {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-button-bg);
}
.detail-pagina .primary-button,
.detail-pagina .secondary-button {
  padding: 9px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  width: 140px;
}
.detail-pagina .primary-button {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
}
.detail-pagina .primary-button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
  transition: 0.2s ease-in-out;
}
.detail-pagina .secondary-button {
  text-decoration: none;
  background-color: var(--secondary-button-bg);
  color: var(--secondary-button-text);
  display: flex;
  justify-content: center;
}
.detail-pagina .secondary-button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
  transition: 0.2s ease-in-out;
}
.detail-pagina button img:hover {
  filter: invert(75%) hue-rotate(180deg) contrast(200%);
}
.detail-pagina .detail-pagina_back-button {
  position: absolute;
  align-self: flex-start;
  width: 100px;
  margin-top: 28px;
}
.detail-pagina .detail-pagina_image {
  width: 295px;
}
.detail-pagina .detail-pagina_image .detail-pagina_image_cover {
  margin: 140px auto 0 auto;
  display: flex;
}
.detail-pagina .detail-pagina_image .detail-pagina_image_icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 25px 0 0 0;
}
.detail-pagina .detail-pagina_image .detail-pagina_image_icons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-button-bg);
  border: none;
  background: none;
}
.detail-pagina .detail-pagina_image .detail-pagina_image_icons button img {
  width: 50px;
}
.detail-pagina .detail-pagina_informatie h2 {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 188px;
  width: 95%;
}
.detail-pagina .detail-pagina_informatie section {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30em;
}
.detail-pagina .detail-pagina_informatie section h3 {
  margin: 0 0 5px 0;
}
.detail-pagina .detail-pagina_informatie section .summary {
  display: none;
  margin: 0 15px 0 15px;
}
.detail-pagina .detail-pagina_informatie .detail-pagina_informatie_buttons {
  justify-content: center;
  margin: 45px 0 150px 0;
  display: flex;
  gap: 15px;
}
.detail-pagina .detail-pagina_informatie .detail-pagina_informatie_buttons button,
.detail-pagina .detail-pagina_informatie .detail-pagina_informatie_buttons a {
  font-weight: bold;
}

@media (min-width: 550px) {
  .detail-pagina_informatie h2 {
    width: 500px !important;
  }
}
@media (min-width: 1000px) {
  .detail-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45em;
    margin: 50px auto 0 auto;
  }
  .detail-pagina .detail-pagina_image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  .detail-pagina .detail-pagina_image .detail-pagina_back-button {
    position: static;
    margin: 0;
  }
  .detail-pagina .detail-pagina_image .detail-pagina_img-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail-pagina .detail-pagina_image .detail-pagina_img-and-buttons .detail-pagina_image_cover {
    margin-top: 32px;
    max-width: 175px;
  }
  .detail-pagina .detail-pagina_informatie h2 {
    position: static;
    left: none;
    transform: none;
    top: none;
    text-align: left;
  }
  .detail-pagina .detail-pagina_informatie section .summary {
    display: block !important;
    margin: 0 0 5px 0;
  }
  .detail-pagina .detail-pagina_informatie .detail-pagina_informatie_buttons {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=details.css.map */