@keyframes fadeIn {
    0% {
        opacity: 0;
       
    }

    100% {
        opacity: 1;
       
    }
}



.faq-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5em;
    opacity: 0;
    animation: fadeIn 0.5s 12s forwards;
   




    &.hidden {
        display: none;
    }

    .chat_faq {

        background-color: white;
        min-width: 75vw;
        padding: 1em;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        z-index: -7;


        div {
            display: flex;
            justify-content: space-evenly;



            h4 {
                color: #3c389e;
                font-size: .9rem;
            }

            button {
                width: 24px;
                height: 24px;
                border: none;
                border-radius: 50%;
                background-color: transparent;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.868);
                cursor: pointer;

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 24px;
                    font-size: 14px;
                    text-align: center;



                }

            }
        }




        ul {
            text-decoration: none;
            list-style: none;

            li {
                padding: .7em;

                a {
                    text-decoration: none;
                    color: black;

                }
            }

        }
    }
}