@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.faq-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1em;
    top: 5em;
    z-index: -999;
    opacity: 0;
    animation: fadeIn 0.5s 12s forwards;

    &.hidden {
        display: none;
    }

    .chat_faq {
        background-color: white;
        min-width: 75vw;
        border-radius: 1em;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
            rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

        div {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(225, 219, 219);
            margin: 0;
            padding: 0.5em;

            h4 {
                color: #3c389e;
                font-size: 0.9rem;
            }

            button {
                width: 24px;
                height: 24px;
                border: none;
                cursor: pointer;
                color: #3c389e;

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 24px;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }

        ul {
            text-decoration: none;
            list-style: none;
            border-radius: 2em;

            li {
                padding: 0.5rem;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 44em) {
    .faq-wrapper {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -18em;
        opacity: 0;
        animation: fadeIn 0.5s 12s forwards;

        &.hidden {
            display: none;
        }

        .chat_faq {
            background-color: white;
            min-width: 50vw;
            padding: 1em;
            border-radius: 1em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

            div {
                display: flex;
                justify-content: space-between;

                h4 {
                    color: #3c389e;
                    font-size: 1rem;
                }

                button {
                    width: 24px;
                    height: 24px;
                    border: none;
                    color: #3c389e;
                    cursor: pointer;
                }
            }

            ul {
                text-decoration: none;
                list-style: none;

                li {
                    padding: 0.7em;

                    &:hover {
                        background-color: var(--background);
                    }

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}