body {
    background-color: var(--bg-color);
    margin: 0;
    color: var(--primary-font-color);
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --bg-color: #F3F6FF;
    --bg-header: white;
    --primary-font-color: black;
    --highlight-text: #136FBC;
    --bg-color-chat-container: #136FBC;

}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-header);
    box-shadow: 0px 0px 5px black;
}

header .logo {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;

}

header .logo img {
    width: 50px;
    /* Adjust the width as needed */
}

header nav {
    text-align: right;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: .8em;
    flex-wrap: wrap;
    padding: 4px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.highlight-text {
    color: var(--highlight-text);
}

h1 {
    font-size: 1.4rem;
    padding: 1em;
}


/* Media query for desktop screens */
@media (min-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
    }

    header .logo {
        margin-bottom: 0.5em;
    }

    header nav {
        text-align: center;
    }

    h1 {
        text-align: left;
        font-size: 2rem;
    }
    
.intro-imgs {
    position: relative;
    display: flex;
    justify-content: center;
}

.introduction img:nth-of-type(2) {
    width: 200px;
    top: 12em;
    right: 2em;
    position: absolute;
}




}