.introduction  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.intro-imgs{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction img:nth-of-type(1){
    width:180px;
    position: absolute;


   
 
   
}

.introduction img:nth-of-type(2){
    width: 180px;
    top: 5em;
    right: -1em;
    position: absolute;
    
   

}

/* .chat-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.chat-container img{
    width: 50px;
} */
/* .chat-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;
    background-color: #f1f1f1;
} */



/* .chat-box { */
    /* width: 80%; */
    /* min-width: 80vw;
    min-height: 65vh;
    border-top: 1em solid var(--highlight-text);
    padding: 20px;
    background-color: #fff;
    color: #000;
  } */


  .chat-icon{
   border: none;
   background-color: var(--bg-color);
  }

@media (min-width: 767px) {

    /* Adjust the max-width value as needed
    .chat-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
    } */
}