#results {
  z-index: -999;
  display: flex;
  flex-direction: column;
  background: var(--background);
  margin: 0;
  padding: 0;
}
#results .results-container {
  z-index: -999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background: var(--background);
  margin: 0;
  background-color: white;
  grid-gap: 0;
  padding: 0;
}
#results a {
  text-decoration: none;
  line-height: 15px;
  gap: 0;
  text-align: left;
}
#results a .book-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  padding: 2px;
}
#results a .book-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
#results a .book-container div img {
  width: 80px;
  height: 100px;
}
#results a .book-container .detail-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
#results a .book-container .detail-div h3 {
  color: #3c389e;
  font-size: 0.7rem;
}
#results a .book-container .detail-div p {
  text-decoration: none;
  font-size: 0.5rem;
  text-align: left;
  color: grey;
}

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  padding: .7em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: white;
  z-index: 999;
}

.popup p {
  margin: 0 0 10px;
  color: #3C389E;
  padding: 1em;
  border-radius: 2em;
  white-space: nowrap;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.popup button {
  margin-right: 10px;
  border: none;
  width: 50px;
  padding: .7em;
  border-radius: 1em;
}

.popup button:first-child {
  margin-right: 0;
  background-color: #242174;
  color: white;
}

.popup button:last-child {
  margin-right: 0;
}

@media (min-width: 44em) {
  #results {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15em;
    margin-right: 15em;
    position: relative;
    bottom: 27em;
    background-color: var(--background);
  }
  #results .results-container {
    z-index: 1;
    display: grid;
    background-color: var(--background);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
  #results a {
    text-decoration: none;
    line-height: 15px;
    gap: 0;
    text-align: left;
  }
  #results a .book-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    padding: 1em;
  }
  #results a .book-container:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
  }
  #results a .book-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  #results a .book-container div img {
    width: 100px;
    height: 150px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  #results a .book-container .detail-div {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: flex-start;
  }
  #results a .book-container .detail-div h3 {
    color: #3c389e;
    font-size: 16px;
    font-weight: 500;
  }
  #results a .book-container .detail-div p {
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    color: grey;
  }
}/*# sourceMappingURL=results.css.map */