// check main.js client-side for elements

#results {
    z-index: -999;
    margin: 0;
    padding: 0;
    max-width: 90%;
    margin: 0 auto;

    .format-heading {
        margin: 20px 0 10px 15%;

        &:first-of-type {
            margin: 50px 0 10px 15%;
        }
    }

    .results-container {
        z-index: -999;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between !important;
    }

    a {
        margin-top: 10px;
        text-decoration: none;
        line-height: 15px;
        gap: 0;
        text-align: left;

        .book-container {
            display: flex;
            flex-direction: column;
            border-radius: 0.5em;
            padding: 2px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;

                img {
                    width: 80px;
                    height: 100px;
                }
            }

            .detail-div {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-end;

                h3 {
                    color: #3c389e;
                    font-size: 0.7rem;
                }

                p {
                    text-decoration: none;
                    font-size: 0.5rem;
                    text-align: left;
                    color: grey;
                }
            }
        }
    }
}

@media (min-width: 44em) {
    #results {
        z-index: 1;
        position: relative;
        bottom: 27em;
        background-color: var(--background);

        // h2 that says boek or prentenboek
        .format-heading {
            margin: 50px 0 10px 0;
        }

        .results-container {
            z-index: 1;
            display: grid;
            background-color: var(--background);
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-content: center;
        }

        a {
            text-decoration: none;
            line-height: 15px;
            gap: 0;
            text-align: left;

            .book-container {
                display: flex;
                flex-direction: column;
                border-radius: 0.5em;
                padding: 1em;

                &:hover {
                    transform: translateY(-5px);
                    transition: transform 0.2s ease;
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 0;

                    img {
                        width: 100px;
                        height: 150px;
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                    }
                }

                .detail-div {
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                    justify-content: flex-start;

                    h3 {
                        color: #3c389e;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    p {
                        text-decoration: none;

                        font-size: 12px;
                        text-align: left;
                        color: grey;
                    }
                }
            }
        }
    }
}
