// check main.js client-side for elements





#results {
    z-index: -999;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background: var(--background);
    margin: 0;
    background-color: white;
    grid-gap: 0;
    padding: 0;


    a {
        text-decoration: none;
        line-height: 15px;
        gap: 0;
        text-align: left;



        .book-container {
            display: flex;
            flex-direction: column;
            border-radius: .5em;
            padding: 2px;


         
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;



                img {
                    width: 80px;
                    height: 100px;

                }


            }


            .detail-div {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-end;



                h3 {
                    color: #3C389E;
                    font-size: 0.7rem;
                }



                p {
                    text-decoration: none;
                    font-size: .5rem;
                    text-align: left;
                    color: grey;
                }


            }



        }

    }



}


@media (min-width: 44em) {
    #results {
        z-index: 1;
        display: grid;
        margin-left: 15em;
        margin-right: 15em;
        position: relative;
        bottom: 27em;
        background-color: var(--background);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;



        a {
            text-decoration: none;
            line-height: 15px;
            gap: 0;
            text-align: left;



            .book-container {
                display: flex;
                flex-direction: column;
                border-radius: .5em;
                padding: 1em;


                &:hover {
                    transform: translateY(-5px);
                    transition: transform 0.2s ease;
                }
    
    


                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 0;



                    img {
                        width: 100px;
                        height: 150px;
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

                    }


                }


                .detail-div {
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                    justify-content: flex-start;





                    h3 {
                        color: #3C389E;
                        font-size: 16px;
                        font-weight: 500;
                    }



                    p {
                        text-decoration: none;

                        font-size: 12px;
                        text-align: left;
                        color: grey;
                    }


                }



            }

        }




    }
}