// check main.js client-side for elements
// mobile
// results of what is being searched for/fetched
#parent_results {
    z-index: -999;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    #results {
        position: absolute;
        // so it's below the robot bar
        top: 170px;
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        max-width: 48em;
        justify-content: center;
        margin: 0 20px 0 20px;
        padding-bottom: 200px;

        // h2 heading with format type such as book
        .format-heading {
            margin-bottom: 10px;
        }

        // container with the book and title
        .results-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;

            // the container of the whole book
            a {
                text-decoration: none;

                // img of a result
                img {
                    width: 130px;
                    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                }

                .detail-div {
                    margin-bottom: 20px;
                    // title of book
                    h3 {
                        color: #3c389e;
                        word-wrap: break-word;
                        width: 128px;
                        font-size: 0.9em;
                    }

                    // author
                    p {
                        color: grey;
                        word-wrap: break-word;
                        width: 128px;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}

// desktop
@media (min-width: 44em) {
    #parent_container {
        #results {
            // so it's below the robot bar
            top: 130px;
        }
    }
}
