<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
    </head>

    <body>
        <%- include("../partials/nav");%>
        <h1 class="oba-title">OBA Catalogus</h1>
        <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->

        <div class="detail-pagina"></div>
    </body>
</html>
