<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
    </head>

    <body>
        <%- include("../partials/nav");%>
        <h1>Favorieten</h1>
        <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->

        <!-- id results for styling -->
        <div class="favorites">
            <h2 class="format-heading">Favorieten</h2>
            <div class="results-container">
                <a href="/details/|oba-catalogus|1187163"
                    ><div class="book-container">
                        <div class="image-container">
                            <img
                                src="https://v112.nbc.bibliotheek.nl/thumbnail?uri=http://data.bibliotheek.nl/ggc/ppn/417144695&amp;token=c1322402"
                            />
                        </div>
                        <div class="detail-div">
                            <h3>Succes! : rekenen...</h3>
                            <p>Onbekende auteur</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
