<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
    </head>

    <body>
        <%- include("../partials/nav");%>
        <h1>Hi</h1>
        <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->

        <input
            type="text"
            name="query"
            placeholder="What would you like to find"
            id="query"
        />
        <button type="submit" id="searchButton">Search</button>
    </body>
</html>
