<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head");%>
</head>

<header>
    <%- include("./partials/header");%>
</header>



<body>

    <main>
        <div class="introduction">
            <h1>Vind moeiteloos boeken en activiteiten met onze <span class="highlight-text">oba assistent </span></h1>
            <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->
            <div class="intro-imgs">
                <img src="./images/chat1.svg" alt="">
                <img src="./images/oba-assistant.png" alt="">

            </div>

        </div>

        <div class="chat-icon-wrapper">
            <img src="./images/chaticon.svg" alt="ChatIcon" id="chatIcon">
        </div>

        <dialog>
            <h2>Chat Box</h2>
            <p>This is the chat content.</p>
            <img src="./images/oba-assistant.png" alt="">

            <div class="chat-bar">
                <form action="">
                    <input type="text" name="" id="">
                    <button type="submit">Verzend</button>
                </form>
            </div>


        </dialog>

    </main>


    <!-- 
    <input type="text" name="query" placeholder="What would you like to find" id="query" />
    <button type="submit" id="searchButton">Search</button> -->
    <%- include ("./partials/footer") %>

</body>


</html>