<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head");%>
</head>

<header>
    <%- include("../partials/header");%>
</header>



<body>

    <main>
        <div class="introduction">
            <h1>Vind moeiteloos boeken en activiteiten met onze <span class="highlight-text">oba assistent </span></h1>
            <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->
            <div class="intro-imgs">
                <img src="./images/chat1.svg" alt="">
                <img src="./images/oba-assistant.png" alt="">

            </div>

        </div>


        <div class="chat-icon-wrapper">
            <img src="./images/chaticon.svg" alt="ChatIcon" id="chatIcon">
        </div>


        <dialog>
            <div class="chat-header">
                <button id="faq-btn"><span>?</span><span>FAQ</span></button>
                <p>Zoek met ons</p>
                <button type="button" id="close-btn">X </button>
            </div>

            <dialog class="faq-content">
                <ul>
                    <li><a href="">Over pas, account en gegevens </a> </li>
                    <li><a href="">Over pas, account en gegevens</a> </li>
                    <li><a href="">Over pas, account en gegevens</a> </li>
                    <li><a href="">Over pas, account en gegevens</a> </li>
                    <li><a href="">Over pas, account en gegevens</a> </li>
                    <li><a href="">Over pas, account en gegevens</a> </li>
                </ul>
            </dialog>

            <div class="chat-content">

                <!-- <img src="./images/oba-assistant.png" alt=""> -->
                <div>
                    <img src="./images/oba-assistant.png" alt=""  class="assistant-chat">
                </div>

                <div class="chat-bar">
                    <form action="">
                        <input type="text" name="" id="" placeholder="typ hier in... ">
                        <button type="submit"><img src="./images/send-btn.svg" alt="" class="send-btn"></button>
                    </form>
                </div>
            </div>

        </dialog>


    </main>


    <!-- 
    <input type="text" name="query" placeholder="What would you like to find" id="query" />
    <button type="submit" id="searchButton">Search</button> -->
    <%- include ("../partials/footer") %>

</body>


</html>